<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>

        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="FILESYSTEM_DISK" value="local"/>
        <env name="LOG_CHANNEL" value="stderr"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>

        <env name="DIGESTPIPE_AI_DRIVER" value="fake"/>
        <env name="DIGESTPIPE_AI_BATCH_LIMIT" value="3"/>
        <env name="DIGESTPIPE_AI_DAILY_LIMIT" value="30"/>
        <env name="OPENAI_API_KEY" value=""/>
        <env name="OPENAI_MODEL" value="gpt-4o-mini"/>
        <env name="OPENAI_REQUEST_TIMEOUT" value="60"/>
        <env name="OPENAI_MAX_RETRIES" value="2"/>

        <env name="DIGESTPIPE_CONTENT_FETCH_TIMEOUT" value="15"/>
        <env name="DIGESTPIPE_CONTENT_MAX_BYTES" value="1048576"/>
        <env name="DIGESTPIPE_CONTENT_MAX_CHARS" value="8000"/>
        <env name="DIGESTPIPE_CONTENT_MIN_CHARS" value="80"/>
        <env name="DIGESTPIPE_CONTENT_USER_AGENT" value="digestpipe-test"/>

        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
